@page "/"
@using CarRental.Business.Classes;
@using CarRental.Common.Interfaces;
@using CarRental.Common.Enums;
@inject BookingProcessor bp;


<PageTitle>Car Rental</PageTitle>

<div>
    <!--Vehicle table-->
    <h3>Vehicles</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">RegNo</th>
                <th scope="col">Make</th>
                <th scope="col">Odometer</th>
                <th scope="col">Cost Km</th>
                <th scope="col">Vehicle Type</th>
                <th scope="col">Cost Day</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>

                @foreach (var vehicle in bp.GetVehicles())
                {
                    <tr>

                    <th scope="row">@vehicle.RegNo</th>
                    <td>@vehicle.Make</td>
                    <td>@vehicle.Odometer</td>
                    <td>@vehicle.CostKm</td>
                    <td>@vehicle.VehicleType</td>
                    <td>@vehicle.CostDay</td>
                    <td>@vehicle.VehicleStatus</td>
                   </tr> 
                }
            
        </tbody>
    </table>
</div>

<div>
    <!--Bookings table-->
    <h3>Bookings</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">RegNo</th>
                <th scope="col">Customer</th>
                <th scope="col">Km Rented</th>
                <th scope="col">Km Returned</th>
                <th scope="col">Rented</th>
                <th scope="col">Returned</th>
                <th scope="col">Cost</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>

    @foreach (var booking in bp.GetBookings())
    {
            <tr >
                <th scope="row">@booking.RegNo</th>
                <td>@booking.Costumer</td>
                <td>@booking.KmRented</td>
                <td>@booking.KmReturned</td>
                    <td>@booking.Rented</td>
                    <td>@booking.Returned</td>
                    <td>@booking.Cost</td>
                    <td>@booking.VehicleStatus</td>
            </tr>
    }
        </tbody>
    </table>
   
</div>

<div>
    <!--Costumers table-->
    <h3>Costumers</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">SSN</th>
                <th scope="col">Last Name</th>
                <th scope="col">First Name</th>
            </tr>
        </thead>
        <tbody>

                @foreach (var costumer in bp.GetCostumers())
                {
            <tr>
                    <th scope="row">@costumer.SSN</th>
                    <td>@costumer.LastName</td>
                    <td>@costumer.FirstName</td>
            </tr>
                }
        </tbody>
    </table>
</div>


@code{
    public void BookingProcess()
    {
        bp.GetBookings();

    }
}
